.voteResult-container{
    height: 100%;
    padding-top: 15%;
    background-color: #21242E;
}

.voteResult-pre-title{
    margin-top: 20%;
    color: white;
}
.voteResult-chart-title{
    color: white;
    text-align: center;
}
.voteResult-chart-count{
    color: white;
}