.voteCreate-options-row{
    margin-top: 5px;
}

.voteCreate-input-option .ant-input{
    background-color: #272B38 !important;
    
    
}
.voteCreate-input-option{
    background-color: #272B38;
    color: white !important; 
    border-color: #151923 !important;
    
    
}

.voteCreate-input-option:last-child{
    background-color: #272B38 !important;
    
}
.voteCreate-input-deleteBtn{
    margin-left: 10px;
    background-color:#151923 !important;
    color: white !important;
    border-color: #151923 !important;
}

.voteCreate-input-deleteBtn:hover{
    background-color:#272B38 !important;
    color: red !important;
    border-color: #272B38 !important;
}

.voteCreate-option-add-container{
    margin-top: 20px;
}

.voteCreate-option-add-input .ant-input{
    background-color: #272B38 !important;
    
    
}
.voteCreate-option-add-input{
    background-color: #272B38 !important;
    color: white !important;
    border-color: #151923 !important;
    
    
}

.voteCreate-option-add-input:last-child{
    background-color: #272B38 !important;
    
}
.voteCreate-input-deleteBtn{
    margin-left: 10px;
    background-color:#151923 !important;
    color: white !important;
    border-color: #151923 !important;
}

.voteCreate-input-deleteBtn:hover{
    background-color:#272B38 !important;
    color: red !important;
    border-color: #272B38 !important;
}

.voteCreate-option-add-btn{
    border: transparent !important;
}

.voteCreate-option-count-container{
    margin-top: 10px;

}
.voteCreate-option-count-text{

    color: wheat !important;
}
.voteCreate-reset-btn{
    color:white !important;
    background-color: #151923 !important;
}

.voteCreate-reset-btn:hover{
    border-color: #3e465f !important;
    color:white !important;
    background-color: #3e465f !important;
}