.voteAnswer-Container {
  padding-top: 15%;
  padding-left: 3%;
  padding-right: 3%;
  height: 100%;
  border: black;
  border-radius: 0 1 0 0;
  background-color: #262a38;
  
}
.voteAnswer-pre-title {
  color: White;
}
.voteAnswer-pre-emote {
  margin-top: 18%;
  color: white !important;
}
.voteAnswer-question {
  color: white !important;
}
.voteAnswer-option {
  color: white !important;
  margin-top: 10px;
  margin-left: 20%;
}
.VoteAnswer-option-radio {
  color: white !important;
}

.voteAnswer-vote-btn {
  color: white !important;
  background-color: #151923 !important;
}

.voteAnswer-vote-btn:hover {
  border-color: #3e465f !important;
  color: white !important;
  background-color: #3e465f !important;
}
